.imgGaleriaUno1{
        background-image: url('/images/Galeria/galeria1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaUno2{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaUno3{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaUno4{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaUno5{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgGaleriaDos1{
        background-image: url('/images/Galeria/galeria10.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaDos2{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaDos3{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaDos4{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaDos5{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgGaleriaTres1{
        background-image: url('/images/Galeria/galeria13.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaTres2{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaTres3{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaTres4{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaTres5{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgGaleriaCuatro1{
        background-image: url('/images/Galeria/galeria2.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaCuatro2{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaCuatro3{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaCuatro4{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaCuatro5{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgGaleriaCinco1{
        background-image: url('/images/Galeria/galeria3.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaCinco2{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaCinco3{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaCinco4{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaCinco5{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgGaleriaSeis1{
        background-image: url('/images/Galeria/galeria6.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaSeis2{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaSeis3{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaSeis4{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaSeis5{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgGaleriaSiete1{
        background-image: url('/images/Galeria/galeria7.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaSiete2{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaSiste3{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaSiete4{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaSiete5{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgGaleriaOcho1{
        background-image: url('/images/Galeria/galeria8.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaOcho2{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaOcho3{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaOcho4{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaOcho5{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgGaleriaNueve1{
        background-image: url('/images/Galeria/galeria9.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaNueve2{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaNueve3{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaNueve4{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
.imgGaleriaNueve5{
        background-image: url('/images/Galeria/.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}
