body{
	background-color: white;
}

/*Navigation Bar/Menu*/

#navigation{
    background-color: black;
    border:0;
}

.navbar-default .navbar-nav>li>a:hover{
    color:gray;
}
.navbar-default .navbar-nav>li>a{
    color:#2a2981;
    font-size: 150%;
}

.azulHotel {
    background-color:#2a2981;
    color:white;
}

.azulHotel1 {
    background-color:white;
    color:#2a2981;
}

.fontAzulHotel {
    color:#2a2981;
}

.logo{
    height:80px;
}

.imgBanner{
    width:100%;
}

/*Navigation Bar/Menu*/
.content{
    height: 70%;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.item {
    display: none;
    position: relative;
    .transition(.2s ease-in-out left);
}

.imgSomos{
        background-image: url('/images/fondoPlaya.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
}

.imgEventos{
        background-image: url('/images/SOLARIUM/solarium9sm.jpeg');
        background-repeat: no-repeat;
        height: 600px;
        background-position: center;
        /*
                background-size: 100% 100%;
        */


}

.imgHabSm{
    padding:10px;
}

.imgHab{
        background-image: url('/images/Habitaciones/standar_doble.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgHab1{
        background-image: url('/images/Habitaciones/standar_doble1.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgHab2{
        background-image: url('/images/Habitaciones/standar_doble2.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgHab3{
        background-image: url('/images/Habitaciones/standar_doble3.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgHab4{
        background-image: url('/images/Habitaciones/standar_doble4.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgSuit{
        background-image: url('/images/Habitaciones/suite.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgSuit1{
        background-image: url('/images/Habitaciones/suite1.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgSuit2{
        background-image: url('/images/Habitaciones/suite2.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgSuit3{
        background-image: url('/images/Habitaciones/suite3.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgSuit4{
        background-image: url('/images/Habitaciones/suite4.JPG');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgPH{
        background-image: url('/images/Habitaciones/pentHouse.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgPH1{
        background-image: url('/images/Habitaciones/pentHouse1.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgSuperiorVista{
        background-image: url('/images/Habitaciones/superiorVista.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgSuperiorVista1{
        background-image: url('/images/Habitaciones/superiorVista1.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgSuperiorVista2{
        background-image: url('/images/Habitaciones/superiorVista2.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.imgSuperiorVista3{
        background-image: url('/images/Habitaciones/superiorVista3.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 180px;
}

.iconoHab{
    height: 34px;
}

.iconoPH{
    height: 40px;
    text-align: center;
}

.imgServ {
  opacity: 1;
  /*transition: .5s ease;*/
  backface-visibility: hidden;
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
}


.middleServ {

  opacity: 0;

  /*
   position: absolute;
  top: 0%;
  transition: .5s ease;
  left: 30%;
  transform: translate(-20%, -50%);
  -ms-transform: translate(-50%, -50%)*/
}

.middleServ1 {

  opacity: 1;
  /*position: absolute;
  top: 0%;

  transition: .5s ease;
  left: 50%;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)*/
}

.containerServ:hover .imgServ{
  opacity: 0.2;
}

.containerServ:hover .middleServ1{
  opacity: 0;
}

.containerServ:hover .middleServ {
  opacity: 1;
}

.textServ {
  color: black;
  font-size:200%;
  text-align: center;
  font-weight: bold;
}


.textServ1 {
  font-size:270%;
  color:white;
  font-weight: bold;
}


.imgTras {
  height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group.required.control-label:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: -10px;
}

/* Main info */
.conocenos-info { padding-top: 15px; padding-bottom: 15px; }
.conocenos-info h1 { color:#2a2981 ; font-weight: 800; font-family: 'Lora', serif; letter-spacing: .02em; text-align: center;}
.conocenos-info p { color: #666; text-align: center;  font-size:150%;}
.conocenos-info p span { font-style: italic; }

/* Main info */
.eventos-info { padding-top: 15px; padding-bottom: 15px; }
.eventos-info h1 { color:white ; font-weight: 800; font-family: 'Lora', serif; letter-spacing: .02em; text-align: center; }
.eventos-info p { color: white; text-align: center;  font-size:150%;}
.eventos-info p span { font-style: italic; }

/* Book Online */
.booking-online { background: #2a2981; padding: 10px;  }
.booking-online h4 { color: #fff; font-size: 2em; font-weight: 350; font-family: 'Lora', serif; letter-spacing: .02em; }
.booking-online p { color: #fff; }

/* Footer */
.footer-right a { color: #666; text-decoration: underline; }
.footer-right a:hover { color: #666; text-decoration: none; }
.footer2 {background: lightgray; color:gray; padding:5px}

